body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-wiguru-1: "WiGuru 1";
  --font-gilroy: Gilroy;

  /* font sizes */
  --font-size-18xl: 37px;
  --font-size-11xl: 30px;
  --font-size-25xl: 44px;
  --font-size-47xl: 66px;
  --font-size-55xl: 74px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-24xl: 43px;
  --font-size-7xl: 26px;
  --font-size-15xl: 34px;
  --font-size-12xl: 31px;
  --font-size-4xl: 23px;
  --font-size-lg: 18px;
  --font-size-40xl: 59px;
  --font-size-lgi: 19px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #444;
  --color-black: #000;
  --color-gainsboro: #e8e8e8;

  /* Gaps */
  --gap-mid: 17px;
  --gap-xl: 20px;
  --gap-6xs-8: 6.8px;

  /* Paddings */
  --padding-65xl: 84px;
  --padding-xl: 20px;
  --padding-88xl: 107px;
  --padding-6xs: 7px;
  --padding-12xs: 1px;
  --padding-25xl: 44px;
  --padding-11xs-6: 1.6px;
  --padding-mid: 17px;
  --padding-3xl: 22px;

  /* Border radiuses */
  --br-27xl: 46px;
  --br-109xl: 128px;
}
