.frame-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-27xl) var(--br-27xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.a,
.frame-item {
  position: relative;
  z-index: 1;
}
.a {
  text-decoration: none;
  align-self: stretch;
  line-height: 50px;
  color: inherit;
  white-space: nowrap;
}
.frame-item {
  width: 250px;
  height: 3px;
  background-color: var(--color-white);
}
.parent {
  width: 293px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.a1,
.a2,
.a3 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  color: inherit;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.a2,
.a3 {
  left: 113px;
  color: #aeeaff;
  min-width: 27px;
}
.a3 {
  top: 1px;
  left: 151px;
  color: #39bdff;
  min-width: 105px;
}
.group {
  margin: 0;
  align-self: stretch;
  height: 41px;
  position: relative;
  text-align: left;
  font-size: var(--font-size-18xl);
  color: var(--color-white);
  font-family: var(--font-wiguru-1);
}
.frame-wrapper {
  margin: 0;
  width: 256px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 8px;
  box-sizing: border-box;
}
.rectangle-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 44px 13px 38px;
  position: sticky;
  top: 0;
  z-index: 99;
  gap: var(--gap-xl);
  text-align: left;
  font-size: 74px;
  color: var(--color-white);
  font-family: var(--font-wiguru-1);
}
.frame-inner {
  height: 310px;
  flex: 1;
  position: relative;
  border-radius: 0 var(--br-109xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.rectangle-wrapper {
  width: 508px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 6px;
  box-sizing: border-box;
  max-width: 100%;
}
.h2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 66px;
  font-weight: 400;
  font-family: inherit;
}
.span {
  background: linear-gradient(90deg, #63e452, #377e2d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.div {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
}
.container,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  align-self: stretch;
  flex-direction: column;
}
.rectangle-container {
  width: 516px;
  flex-direction: row;
  padding: 0 var(--padding-9xs) 9.3px;
  box-sizing: border-box;
  max-width: 100%;
}
.h21 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 52px;
  font-weight: 400;
  font-family: inherit;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.p {
  margin: 0;
}
.httpsdiscordggbbtfv9fpas1 {
  margin: 0;
  color: #00b3ff;
}
.httpsdiscordggbbtfv9fpas {
  align-self: stretch;
  height: 80.5px;
  position: relative;
  font-size: 44px;
  line-height: 49px;
  display: inline-block;
  flex-shrink: 0;
}
.frame-container,
.frame-group {
  width: 547px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  max-width: 100%;
}
.frame-group {
  width: 632px;
  min-width: 632px;
}
.screenshot-2024-08-07-094247-1 {
  width: 547px;
  position: relative;
  border-radius: var(--br-27xl) 0 0 0;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.h22 {
  margin: 0;
  align-self: stretch;
  height: 132px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.gmod1 {
  background: linear-gradient(90deg, #5aceff, #367b99);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.screenshot-2024-08-07-094247-1-parent {
  width: 567px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  min-width: 567px;
}
.desktop-1,
.desktop-1-inner,
.frame-parent,
.screenshot-2024-08-07-094247-1-parent {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}
.frame-parent {
  width: 1522px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.desktop-1,
.desktop-1-inner {
  justify-content: flex-start;
  box-sizing: border-box;
}
.desktop-1-inner {
  flex-direction: row;
  padding: 0 34px;
  text-align: left;
  font-size: var(--font-size-47xl);
  color: var(--color-white);
  font-family: var(--font-wiguru-1);
}
.desktop-1 {
  width: 1600px;
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 431.2px;
  gap: 55px;
  background-image: url(./public/desktop--1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .frame-group,
  .screenshot-2024-08-07-094247-1-parent {
    flex: 1;
  }
  .frame-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .rectangle-parent {
    padding-right: 22px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frame-wrapper {
    display: none;
  }
  .h2 {
    font-size: var(--font-size-34xl);
    line-height: 53px;
  }
  .div {
    font-size: var(--font-size-5xl);
  }
  .h21 {
    font-size: var(--font-size-34xl);
    line-height: 53px;
  }
  .httpsdiscordggbbtfv9fpas {
    font-size: 35px;
  }
  .frame-group {
    min-width: 100%;
  }
  .h22 {
    font-size: var(--font-size-34xl);
  }
  .screenshot-2024-08-07-094247-1-parent {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .h2 {
    font-size: var(--font-size-21xl);
    line-height: 40px;
  }
  .div {
    font-size: var(--font-size-lg);
  }
  .h21 {
    font-size: var(--font-size-21xl);
    line-height: 40px;
  }
  .httpsdiscordggbbtfv9fpas {
    font-size: 26px;
  }
  .h22 {
    font-size: var(--font-size-21xl);
  }
  .desktop-1 {
    gap: 27px;
  }
}
